<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mzj.thebook.dao.AdminMapper">
    <select id="findAll" resultType="AdminUser">
        select *
        from admin
    </select>

    <select id="login" resultType="AdminUser">
        select *
        from admin
        where username = #{username}
          and password = #{password}
    </select>

    <select id="findAllBook" resultType="Book">
        select *
        from book_info;
    </select>

<!--    <insert id="addBook" parameterType="Book">-->
<!--        insert into book_info(id, name, cover, author, press, producer, price, pages_number, isbn, score)-->
<!--        values (#{id},-->
<!--                #{name},-->
<!--                #{cover},-->
<!--                #{author},-->
<!--                #{press},-->
<!--                #{producer},-->
<!--                #{price},-->
<!--                #{pagesNumber},-->
<!--                #{isbn},-->
<!--                #{score})-->
<!--    </insert>-->

<!--    <delete id="deleteBook" parameterType="String">-->
<!--        delete-->
<!--        from book_info-->
<!--        where id = #{id}-->
<!--    </delete>-->


</mapper>